<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-button (click)="toggleSelectPointOnMap()" *ngIf="!isSelectPointOnMap">
      <ion-icon slot="start" name="pin"></ion-icon>
      Select on Map
    </ion-button>
    <div *ngIf="isSelectPointOnMap">
      <ion-button (click)="validSelectionPoint()">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Valid selection
      </ion-button>
      <ion-button (click)="toggleSelectPointOnMap()">
        Cancel
      </ion-button>
    </div>
    <ion-input placeholder="latitude" [(ngModel)]="centerPoint.lat"></ion-input>
    <ion-input placeholder="longitude" [(ngModel)]="centerPoint.lng"></ion-input>
  </ion-row>
  <div [className]="isSelectPointOnMap ? 'select-on-map' : ''">
    <div class="map" leaflet
         [leafletOptions]="options"
         (leafletMapReady)="onMapReady($event)">
    </div>
  </div>
  <ion-row>
    <div [chart]="chart" style="margin-left: auto;margin-right: auto"></div>
  </ion-row>
</ion-content>
